<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <link rel="stylesheet" href="../static/bootstrap.min.css">
      <title>Онлайн библиотека</title>
      <link rel="icon" type="image/png" href="../static/favicon.png" sizes="32x32">
   </head>
   <body>
      <div class="Page navigation">
         <div class="pagination justify-content-center m-3 p-3">
            {% if page_number == 1 %}
            <div class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Предыдущая</a></div>
            {% else %}
            <div class="page-item"><a class="page-link" href="{{pages[page_number - 2]}}">Предыдущая</a></div>
            {% endif %}
            {% for page in pages%}
            {% if loop.index == page_number%}
            <div class="page-item active" aria-current="page">
               <a class="page-link" href={{page}}>{{loop.index}}<span class="sr-only">(current)</span></a>
            </div>
            {% else %}
            <div class="page-item"><a class="page-link" href={{page}}>{{loop.index}}</a></div>
            {% endif %} 
            {% endfor %}
            {% if page_number == number_pages %}
            <div class="page-item disabled">
               <a class="page-link" href="#" tabindex="1">Следующая</a>
            </div>
            {% else %}
            <div class="page-item"><a class="page-link" href="{{pages[page_number]}}">Следующая</a></div>
            {% endif %}
         </div>
      </div>
      <div class="container">
         <div class="row">
            {% for book_chunked in books %}
            <div class="w-100"></div>
            {% for book in books[loop.index0] %}
            <div class="col">
               <div class="card mb-3" style="max-width: 540px; min-height:345px" >
                  <div class="row no-gutters">
                     <div class="col-md-4">
                        <img src="{{book.image|urlencode}}" class="card-img" alt="{{book.name}}">
                     </div>
                     <div class="col-md-8">
                        <div class="card-body">
                           <h4 class="card-title">{{book.name}}</h4>
                           <p class="card-text">{{book.author}}</p>
                           {% for genre in book.genre%}
                           <p>{{genre}} <span class="badge badge-primary"></span></p>
                           {% endfor %}
                           <a href="{{book.txt|urlencode}}" target="_blank" rel="noopener noreferrer">Читать</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}
            {% endfor %}
         </div>
      </div>
      <script src="../js/jquery-3.5.1.slim.min.js"></script>
      <script src="../js/bootstrap.bundle.min.js"></script>
   </body>
</html>